[submodule "lib/bx"]
	path = lib/bx
	url = https://github.com/zkscpqm/bx.git
[submodule "lib/bimg"]
	path = lib/bimg
	url = https://github.com/zkscpqm/bimg.git
[submodule "lib/bgfx"]
	path = lib/bgfx
	url = https://github.com/zkscpqm/bgfx.git
